html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #24c7c2;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.navbar { 
    display: flex;
    justify-content: space-around;
}
.thumbnail-image {
    width: 60px;
    height: 60px;
}
